{{> main/header }}

<main class="ui container">
    <!-- <h1 class="ui blue header">{{Domain.name}}</h1>
     <div class="ui relaxed divided list">
         <h2 class="ui header">Domaine(s)</h2>
         {{#each Domains}}
         <div class="item">
             <div class="content">
                 <a class="header" href="/domain/{{this.name}}">{{this.name}}</a>
                 <div class="description">
                     <div class="ui mini grey label">{{this.childrenSize}}</div>
                     {{this.providerSize}} providers, {{this.complaintsCount}} complaints cumulés sur les enfants, {{this.complaintSize}} complaints
                 </div>
             </div>
         </div>
         {{/each}}-->
     </div>
 </main>




 {{> main/footer }}